<h1>{{title}}</h1>
<div id="map">

</div>
<div id="userLocation">
    <h3>Get Your Location Coordinates</h3>
    <form action="/addressCoords" method="get">
        <button id="address-coords">Address Location</button><span id="show-address-coords"></span>
        <input id="address-input" type="text" name="address" placeholder="enter an address">
    </form><br>
    <button id="user-coords">Your Geo Location</button><span id="show-user-coords"></span>
</div>
<div id="save-data">
    <h3>Save A Location</h3>
    <form action="/save" method="post">
        <div class="input">
            <label for="name">Name :</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="street">Street :</label>
            <input type="text" id="street" name="street">
        </div>
        <div class="input">
            <label for="city">City :</label>
            <input type="text" id="city" name="city">
        </div>
        <div class="input">
            <label for="state">State :</label>
            <input type="text" id="state" name="state">
        </div>
        <div class="input">
            <label for="zip">Zip :</label>
            <input type="text" id="zip" name="zip">
        </div>
        <button id="submit-data" type="submit">Save Location</button>
    </form>
</div>
<div id="list-data">
    <h3>Read Database</h3>
    <form action="/get-data" method="get">
        <p><button id="get-data" type="submit">GET DATA</button></p>
    </form>
    <section id="add-data">
        {{# each locations}}
            <article>
                <div><br></div>
                <div>Name: {{ this.name }}</div>
                <div>Street: {{ this.street }}</div>
                <div>City: {{ this.city }}</div>
                <div>State: {{ this.state }}</div>
                <div>Zip: {{ this.zip }}</div>
                <div><br></div>
                <form action="/get-data/{{this._id}}/delete" method="post">
                    <button id="delete" name="delete" value={{this._id}}>Delete</button>
                </form>
                <div><br></div>
            </article>
        {{/each}}
    </section>
</div>
