<h1>{{title}}</h1>
<div id="map">

</div>
<div id="userLocation">
    <h3>Get Your Location Coordinates</h3>
    <button id="address-coords">Enter Address</button>
    <input id="address-input" type="text" name="address" placeholder="enter address">
    <br><p id="show-address-coords"></p>
    <button id="check-address-reverse">Check Address</button>
    <br><p id="show-address-reverse"></p>
    <button id="user-coords">Get Geo Location</button>
    <br><p id="user-coords-text"></p>
    <button id="user-coords-address">Get Geo Address</button>
    <br><p id="show-user-coords-address"></p><br>
</div>
<div id="save-data">
    <h3>Save A Location</h3>
    <form action="/save" method="post">
        <div class="input">
            <label for="name">Name :</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="street">Street :</label>
            <input type="text" id="street" name="street">
        </div>
        <div class="input">
            <label for="city">City :</label>
            <input type="text" id="city" name="city">
        </div>
        <div class="input">
            <label for="state">State :</label>
            <input type="text" id="state" name="state">
        </div>
        <div class="input">
            <label for="zip">Zip :</label>
            <input type="text" id="zip" name="zip">
        </div>
        <div class="input">
            <label for="geo">Geo :</label>
            <input type="text" id="geo" name="geo">
        </div>
        <p><button id="submit-data" type="submit">Save Location</button></p>
    </form>
</div>
<div id="list-data">
    <h3>Read Database</h3>
    <form action="/get-data" method="get">
        <p><button id="get-data" type="submit">GET DATA</button></p>
    </form>
    <section id="add-data">
        {{# each locations}}
            <article>
                <div class="leftFrame">
                    <div><br></div>
                    <div>Name: {{ this.name }}</div>
                    <div>Street: {{ this.street }}</div>
                    <div>City: {{ this.city }}</div>
                    <div>State: {{ this.state }}</div>
                    <div>Zip: {{ this.zip }}</div>
                    <div><br></div>
                    <form action="/get-data/{{this._id}}/delete" method="post">
                        <button id="delete" name="delete" value={{this._id}}>Delete</button>
                    </form>
                </div>
                <div class="rightFrame">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{this.geo.lat}},{{this.geo.lng}}&zoom=15&size=400x200&markers=color:blue%7Clabel:{{this.name}}%7C{{this.geo.lat}},{{this.geo.lng}}&key=AIzaSyCNzdCjIzSEfBv9U3VBzYT6EgoBzyiXW-g">
                    </img>
                </div>
            </article>
        {{/each}}
    </section>
</div>
